<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    <h1>Count Some Words!</h1>
    <h5>Ever Wanted to count how many times a word occurs in a given block of text? Now you can with WordCounter!</h5>
    <form action="/result" method="post">
      <label for="user-word">Enter a Word to Count:</label>
      <input type="text" name="user-word" id="user-word" placeholder="Cat"></br>
      <label for="user-sentence">Enter a Sentence to Count From:</label>
      <input type="text" name="user-sentence" id="user-sentence" placeholder="The cat in the hat">
      <button type="submit" name="button">Count Your Word!</button>
    </form>
  </body>
</html>
